<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html,charset=utf-8">
    <meta name="description" content="同行说，职场经验和干货分享社区">
    <meta name="keywords" content="PMCAFF, 36kr, 人人都是产品经理, CSDN, designer news, dribble, 开发者头条, 虎嗅, 图灵社区, 豆瓣, 博客园, 简书, 站酷, 互联网,知乎, 一点资讯, 产品经理, 设计师, 程序员, 同行, 爆料, 百度,微信,脉脉, 职业">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>【看看你是不是细节控】我得分不错哦，你也来试试</title>
    <link rel="stylesheet" type="text/css" href="/static/css/h5Main.css?t=@@timestamp">
    <link rel="shortcut icon" href="/static/images/common/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/common/favicon.ico" type="image/x-icon">
    <script type="text/javascript">
    if (/iP(hone|od|ad)/.test(navigator.userAgent)) {
        var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/),
                version = parseInt(v[1], 10);
        if(version >= 8){
            document.documentElement.classList.add('thin-html')
        }
    }
    </script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?@@siteId";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body class="h5-body muti-body">
<img id="shareImg" src="/static/images/h5/m01/banner.jpg" style="position:fixed;top:0;left:0;opacity:0;width:0;height:0;">
    <section class="wrapper-container">
        <div class="header-bar">
            <div class="hb-wrapper">
                <img src="/static/images/h5/m01/logo-bar.png">
                <div class="hb-right">
                    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.caffeed.caffeed&g_f=991653">打开同行说</a>
                </div>
            </div>
        </div>
        <div class="exam-title">
            <img src="/static/images/h5/m01/title.png">
        </div>
        <div class="exam-box-list">
            <div class="exam-box eb-muti">
                <p>
                    <span>哪个是Apple官方LOGO？看手机你就输了</span>
                </p>
                <ul>
                    <li data-id="0"><img src="/static/images/h5/m01/apple-01.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/apple-02.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/apple-03.png"></li>
                    <li data-id="1"><img src="/static/images/h5/m01/apple-04.png"></li>
                </ul>
            </div>
            <div class="exam-box eb-muti">
                <p>
                    <span>QQ天天上，so，哪个是QQ的LOGO？</span>
                </p>
                <ul>
                    <li data-id="0"><img src="/static/images/h5/m01/qq-01.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/qq-02.png"></li>
                    <li data-id="1"><img src="/static/images/h5/m01/qq-03.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/qq-04.png"></li>
                </ul>
            </div>
            <div class="exam-box eb-muti">
                <p>
                    <span>哪个是Google最新的官方字体？</span>
                </p>
                <ul>
                    <li data-id="0"><img src="/static/images/h5/m01/google-01.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/google-02.png"></li>
                    <li data-id="1"><img src="/static/images/h5/m01/google-03.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/google-04.png"></li>
                </ul>
            </div>
            <div class="exam-box eb-muti">
                <p>
                    <span>哪个是度娘的官方字体呢？</span>
                </p>
                <ul>
                    <li data-id="0"><img src="/static/images/h5/m01/baidu-01.png"></li>
                    <li data-id="1"><img src="/static/images/h5/m01/baidu-02.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/baidu-03.png"></li>
                    <li data-id="0"><img src="/static/images/h5/m01/baidu-04.png"></li>
                </ul>
            </div>
            <div class="exam-box eb-single">
                <p>
                    <span>这张图片来自于哪个APP的LOGO？</span>
                </p>
                <div class="eb-img">
                    <img src="/static/images/h5/m01/weibo.png">
                </div>
                <ul>
                    <li data-id="0">A.<span>天猫</span></li>
                    <li data-id="0">B.<span>京东</span></li>
                    <li data-id="0">C.<span>网易云音乐</span></li>
                    <li data-id="1">D.<span>新浪微博</span></li>
                </ul>
            </div>
            <div class="exam-box eb-single">
                <p>
                    <span>图中蓝色是哪个知名互联网公司的 LOGO主题色？</span>
                </p>
                <div class="eb-img">
                    <img src="/static/images/h5/m01/blue.jpg">
                </div>
                <ul>
                    <li data-id="1">A.<span>Twitter</span></li>
                    <li data-id="0">B.<span>领英</span></li>
                    <li data-id="0">C.<span>陌陌</span></li>
                    <li data-id="0">D.<span>Facebook</span></li>
                </ul>
            </div>
        </div>
        <p class="error-tip">＊还有题目没答完！完整回答题目才能得到正确结果！</p>
        <div class="result-btn">
            <a href="javascript:;">我要查看结果</a>
        </div>
        <div class="common-logo">
            <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.caffeed.caffeed&g_f=991653"><img src="/static/images/h5/m01/logo.png"></a>
        </div>
    </section>
<div class="mask" id="mask"></div>
<div class="result-wrapper" id="resultWrapper">
    
</div>

<div id="shareContainer" class="share-container">
    <div class="share-tip">
        <p>点击“分享到朋友圈”</p>
        <p>让好友一起来测测！</p>
        <span></span>
    </div>
    <div class="close-tip">我知道了</div>
</div>
<div class="form-tip"><span></span></div>
</body>
<script type="text/tpl" id="resultTpl">
    <div class="result-box">
        <div class="rb-header">
            <div class="rb-wrapper">
                <div class="rb-score">
                    <span><%= data.score %></span>分
                </div>
                <span class="close-btn"></span>
            </div>
        </div>
        <p class="rb-content-multi">
            <%= data.result %>
        </p>
        <div class="share-btn">
            <a href="javascript:;">分享给好友</a>
        </div>
    </div>
</script>
<script src="/static/js/lib/lib.js"></script>
<script src="/static/js/h5Main.js?t=@@timestamp"></script>
<script type="text/javascript">
var _token = 'h5DetailControl';
require.config({
    baseUrl: "../static/js"
});
require(['h5Main'], function(h5Main) {
    h5Main.common && h5Main.common();
    h5Main[_token] && h5Main[_token]();
});
</script>
</html>